$mainBlue: #556270;
$mainOrange: #FF6B6B;
/*$mainBlue: #2f5572;*/
/*$mainOrange: #d59541;*/
/* 2nd fav
$mainBlue: #000000;
$mainOrange: #53346D;*/

/*my fav
$mainBlue: #556270;
$mainOrange: #FF6B6B;*/